$base-100: #EAEBEC;
$base-200: #CBCDD0;
$base-300: #ABAEB4;
$base-400: #6D727B;
$base-500: #2E3543;
$base-600: #29303C;
$base-700: #1C2028;
$base-800: #15181E;
$base-900: #0E1014;

$main-100: #FDF9EB;
$main-200: #FBF0CD;
$main-300: #F9E6AF;
$main-400: #F4D473;
$main-500: #EFC137;
$main-600: #D7AE32;
$main-700: #8F7421;
$main-800: #6C5719;
$main-900: #483A11;

$alt-1-100: #EBF9F9;
$alt-1-200: #CEEFF1;
$alt-1-300: #B1E6E8;
$alt-1-400: #76D3D7;
$alt-1-500: #3BC0C6;
$alt-1-600: #35ADB2;
$alt-1-700: #237377;
$alt-1-800: #1B5659;
$alt-1-900: #123A3B;

$alt-2-100: #F7EBEE;
$alt-2-200: #EBCCD3;
$alt-2-300: #DFADB9;
$alt-2-400: #C67085;
$alt-2-500: #AE3350;
$alt-2-600: #9D2E48;
$alt-2-700: #681F30;
$alt-2-800: #4E1724;
$alt-2-900: #340F18;