@import 'assets/theme/theme';

html {
  font-size: 14px;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: #333;
  }
}

.loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: .25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: #333;
    animation: spin 1s infinite linear;
}
