
html {
  font-size: 14px;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

app-root {
  display: block;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

