<h1>Hello, {{visitorName}}!</h1>
<p>This is a single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular 10</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<h2>Example Routes</h2>
<ul>
  <li>
    <strong>See all users:</strong> You can see a list of users from the DB <a [routerLink]="['users']">here</a> (same link as the nav above)
  </li>
  <li>
    <strong>Not found route:</strong> This <a [routerLink]="['thisroutedoesntexists']">route</a> doesn't exists and if you click it should redirect to the not found page.
  </li>
  <li>
    <strong>Server error when loading:</strong> This is a <a href="#">page with server error <i>in progress</i></a>
  </li>
</ul>
